/*importé les polices d'écriture*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{/*page principal*/
    margin: 0px;
    padding: 0px;
    font-family: arial, sans-serif;
    background-color:#fff;
}

nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
nav h1{
    /*Menu : Ayent*/
    color: #000;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 60px;
    margin-left: 40px;
}
nav .Menu2{
    /*Menu : Maison de la santé*/
    color: #849CA1;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 60px;
    margin-right: 60px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 300px;
}
nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

header {
    display: flex;
    align-items: center;
    background-image: url('https://th.bing.com/th/id/R.c70f277e70cfc8198c9c06a5b6af391e?rik=e19aBRsybkBDow&pid=ImgRaw&r=0');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #4f927d;
    padding: 100px;
    height: 100vh;
}


a {
    text-decoration: none;
    color: #000;

}


.main{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    gap: 20px;
}

.main .content .card .etage3{
   flex: 0 0 30%;
   padding: 20px;
   background-color: #849ca1e0;
   color:#000;
   border-radius: 10px;
}
.main .content .card .etage3:hover{
    background-color: #849ca1;
 }
 

 .main .content .card .etage3 .liste3{
    text-align: none;
 }
 .main .content .card .etage3 .liste3.liste3:hover{
    text-align: normal;
 }


.main .content .card .etage2{
    flex: 0 0 30%;
    padding: 20px;
    background-color: #849CA1e0;
    color:#000;
    border-radius: 10px
 }

 .main .content .card .etage2:hover{
    background-color: #849ca1;
 }

 .main .content .card .etage1{
    flex: 0 0 30%;
    padding: 20px;/*taille en hauter*/
    background-color: #849CA1e0;
    color:#000;
    border-radius: 10px/*arondi*/
 }

 .main .content .card .etage1:hover{
    background-color: #849ca1;
 }

 .main .content .card .etage0{
    flex: 0 0 30%;
    padding: 20px;
    background-color: #849CA1e0;
    color:#000;
    border-radius: 10px
 }

 .main .content .card .etage0:hover{
    background-color: #849ca1;
 }

footer{
    margin-top: 40px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 30px 90px;
}
footer h1{
    font-family: 'Playfair Display', serif;
    color: #849CA1;
    width: 25%;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
}
footer .services .service p{
    max-width: 300px;
}

footer .endPage{
    margin-top: 60px;
    text-align: right;
    color: #849CA1;
}
